# Ignore everything in the root directory
*

# Unignore all directories recursively
!/**/

# Re-ignore directories that we don't want to see
/.gradle
/.idea
/.vscode
/.kotlin

# Allow gitignore
!/**/.gitignore

# Allow GitHub Workflows
!/.github/workflows/*.yaml

# Allow LICENSE
!/**/LICENSE

# Allow Markdown files
!/**/*.md

# Allow dprint
!/dprint.json

# Allow version files
!/*-version

# Allow Kotlin files
!/**/src/**/*.kt
!/settings.gradle.kts
!/**/build.gradle.kts
!/**/module.yaml
!/project.yaml
!/libs.versions.toml
!/templates/*.module-template.yaml
!/kotlin
!/kotlin.bat